:root {
    /* Updated color scheme for a more immersive RPG experience */
    --background-color-body: #112233; /* Dark, starlit sky */
    --background-color-game: #2a2a2a; /* Deep slate for contrast */
    --color-text: #e0e2e4; /* Soft, readable white */
    --color-stats: #f4d03f; /* Gold for important stats and buttons */
    --background-color-stats: #7d3c98; /* Mysterious purple for monsterStats */
    --button-bg: #2980b9; /* Calm, adventure blue */
    --button-hover-bg: #3498db; /* Brighter blue for hover state */
  
    /* Spacing and borders */
    --border-radius: 10px;
    --box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  
    /* Typography */
    --font-family-base: 'Courier New', Courier, monospace; /* Classic RPG feel */
    --font-size-base: 16px;
    --heading-font-size: 20px;
  
    /* Transition and animation */
    --transition-speed: 0.3s;
    --animation-glow: glow 1.5s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      box-shadow: 0 0 5px rgba(244, 208, 63, 0.75), 0 0 20px rgba(244, 208, 63, 0.4);
    }
    to {
      box-shadow: 0 0 20px rgba(244, 208, 63, 0.75), 0 0 35px rgba(244, 208, 63, 0.4);
    }
  }
  
  body {
    background-image: url("/images/dungeon-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-text);
    font-family: var(--font-family-base), sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  #text, #game, #controls, #stats, #monsterStats {
    background-color: var(--background-color-game);
    color: var(--color-text);
    margin-bottom: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 20px;
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
  }
  
  #monsterStats {
    display: none;
    background-color: red;
    color: var(--color-text);
  }
  
  .stat {
    padding-right: 10px;
  }
  
  /* Interactive elements enhancements */
  button {
    background-color: var(--button-bg);
    color: var(--color-text);
    border: 2px solid var(--color-stats);
    border-radius: var(--border-radius);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
    will-change: transform;
    animation: var(--animation-glow);
  }
  
  button:hover {
    background-color: var(--button-hover-bg);
    transform: translateY(-2px);
  }
  
  /* Layout improvements with added animations */
  #controls, #stats, #monsterStats {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
  }
  
  .stat {
    flex: 1 1 auto;
  }
  
  /* Subtle animations for engaging user experience */
  #text:hover, #game:hover, #controls:hover, #stats:hover, #monsterStats:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  